/* 
Les bordures et les marges intérieurs sont inclus 
dans la largeur des éléments 

*/

* {
    box-sizing: border-box;
}

/* Body */

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

h2 {
    font-size: 18px; /*21 */
}

h3 {
    font-size: 17px;
}

/* Liens */

a {
    color: #000;
    text-decoration: none;
}

/* Gras */

.gras {
    font-weight: 800;
}

/* Avis --> étoile */

.etoile-bleu {
    color: #0065fc;
}

.etoile-gris {
    color:#d9d9d9;
}

/* Entete  */

.entete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Logo entête */

.logo-entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/*  Menu de navigation   */

nav {
    width: 100%;
}

.menu-navigation {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu-navigation li {
    text-align: center;
    width: 50%;
}

.menu-navigation a {
    color: inherit;
}

/* Lien mobile */

#lien-inscription-mobile {
    color: #0065fc;
    font-weight: 700;
} 

#lien-inscription  {
    color: #0065fc;
    font-weight: 700;
}

/* Lien inscription desktop cacher */

#lien-inscription {
    display: none;
}

#lien-hebergement a {
    display: inline-block;
    padding:  0 35px 20px 35px;
    border-bottom: 3px solid #0065fc ;
    width: 100%;
    color: #0065fc;
}

#lien-activite a {
    display: inline-block;
    padding:  0 35px 20px 35px;
    border-bottom: 3px solid #f2f2f2 ;
    width: 100%;
}

/*  Barre de recherche */

.trouver-hebergement {
    padding: 0 14px;
}

.trouver-hebergement + p {
    margin-bottom: 36px;
}

form {
    display: flex;
}

/* Icone localisation barre de recherche */

.icone-localisation {
    background-color: #f2f2f2;
    height: 51px;
    width: 52px ; /*13%*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 13px 0px 0px 13px;
}

/* Zone de saisie */

.zone-recherche {
    max-width: 66%; 
    height: 51px;
    border: 1px solid #f2f2f2;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.zone-recherche::placeholder {
    color: #000;
}

/*  Button de recherche desktop cacher */

#recherche-desktop {
    display: none;
}

.button-recherche {
    width: 51px;
    height: 53px;
    border-radius: 13px;
    border: 1px solid #f2f2f2;
    background-color: #0065fc;
    color: #fff;
    margin-left: -20px;
    margin-top: -1px
}

/* Filtres */

.filtres {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Button filtre */

.button-filtre {
    display: flex;
    border: 2px solid #dddddd;
    border-radius: 46px;
    margin-right: 7px;
    margin-top: 10px;
}

.button-filtre:hover {
    border-color: rgb(202, 202, 202);
    background-color: #F2F2F2;
    transition: .5s;
}

.icone-button {
    background-color: #deebff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 51px;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 13px;
    margin-right: 12px;
    text-align: center;
    color: #0065fc;
    font-size: 17px;
}

.button-filtre > p {
    margin-right: 16px;
}

/* Infos-logement */

.infos-logements {
    display: flex;
    align-items: center;
    margin-top: 19px
}

.icone-infos {
    border:  1px solid #d9d9d9;
    padding: 6px 12px;
    border-radius: 15px;
    color: #0065fc;
    font-size: 14px;
    margin-right: 12px;
}

/* Section Hebergements */

#hebergements {
    margin-top: 39px;
}

/* Section populaires */

.conteneur-populaires {
    background-color: #f2f2f2;
    padding:  20px;
}

.titre-populaire {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur-cartes-populaires {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.icone-titre-populaire {
    margin-left: 104px;
}

/* Carte Populaire */

.carte-populaire {
    background-color:  #fff;
    width: 100%;
    max-width: 334px;     
    height: 144px;
    border-radius: 17px;
    padding: 5px;
    box-shadow: 2px 2px 6px #b8b8b8;
    transition: ease;
    cursor: pointer;
    display: flex;
    margin-bottom: 11px;
}

.carte-populaire a {
    color: #000;
    text-decoration: none;
    display: flex;
    width: 100%;
}

/* Effet au survol carte populaire */

.carte-populaire:hover {
    box-shadow: 2px 2px 6px #797979;
    transform: scale(1.03);
}

/* paramètre carte populaire */

.image-carte-populaire {
    width: 100%;
    max-width: 127px;
    height: 134px;
    border-radius: 13px 0 0px 13px;
}

/* images  Populaires*/

.carte-populaire-1 {
    background: url(../images/hebergements/hotel-le-soleil.jpg) no-repeat center / cover;
}

.carte-populaire-2 {
    background: url(../images/hebergements/chambres-hotes.jpg) no-repeat center / cover;
}

.carte-populaire-3 {
    background: url(../images/hebergements/hotel-tout-bleu-blanc.jpg) no-repeat center / cover;
}

/* Description carte populaire*/

.description-carte-populaire {
    overflow:auto;
    margin-left: 5px;
}

.description-carte-populaire h3 {
    margin-top: 8px;
    margin-bottom: 9px;
}


.description-carte-populaire p {
    margin-top: 0;
}

.avis {
    font-size: 16px;
}

/* Section hébergement */

.conteneur-hebergements {
    padding: 20px;
}

.titre-hebergement {
    display: flex;
    justify-content: center;
    margin-right: 64px;
}

.conteneur-hebergements > p {
    text-align: center;
    margin-right: 200px;
}


.conteneur-cartes-hebergements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carte-hebergement {
    background-color:  #fff;
    width: 100%;     
    max-width: 335px;
    height: 199px;
    border-radius: 17px;
    padding: 5px;
    box-shadow: 2px 2px 6px #b8b8b8;
    transition: ease;
    cursor: pointer;
    overflow: auto;
    margin-bottom: 12px;
}

.carte-hebergement:hover {
    box-shadow: 2px 2px 6px #797979;
    transform: scale(1.03);
}

.carte-hebergement a {
    color: #000;
    text-decoration: none;
    display: initial;
}


.image-carte-hebergement {
    width: 100%;
    height: 114px;
    border-radius: 13px 13px 0 0;
}

/* images hébergements*/

.carte-hebergement-1 {
    background: url(../images/hebergements/auberge-la-cannebière.jpg) no-repeat center / cover;
}

.carte-hebergement-2 {
    background: url(../images/hebergements/hotel-du-port.jpg) no-repeat center / cover;
}

.carte-hebergement-3 {
    background: url(../images/hebergements/hotel-les-mouettes.jpg) no-repeat center / cover;
}

.carte-hebergement-4 {
    background: url(../images/hebergements/hotel-de-la-mer.jpg) no-repeat center / cover;
}

.carte-hebergement-5 {
    background: url(../images/hebergements/auberge-le-panier.jpg) no-repeat center / cover;
}

.carte-hebergement-6 {
    background: url(../images/hebergements/hotel-chez-amina.jpg) no-repeat center / cover;
}

/* contenu carte hebergement*/

.description-carte-hebergement {
    padding: 4px 9px;
}

.description-carte-hebergement h3 {
   margin: 0 0 6px 0;
}


.description-carte-hebergement  p {
   margin: 0 0 6px 0;
}

.avis {
    font-size: 15px;
}

/* Section activité */

.titre-activite {
    display: flex;    
    justify-content: center;
    margin-right: 159px;
    margin-left: 24px;
}

.conteneur-cartes-activites {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

/* Carte  */

.carte-activite {
    width: 100%;
    max-width: 334px;
}

/* Grande carte */

.grande-carte {
    width: 100%;
    max-width: 334px;
    height: 190px;
    position: relative;
    border-radius: 14px;
    transition: ease;
    cursor: pointer; 
    margin-bottom: 24px;
}

.grande-carte:hover {
    box-shadow: 2px 2px 6px #797979;
    transform: scale(1.02);
    opacity: 0.9;
}

.activite-1-grande-carte {
   background: url("../images/activites/vieux-port.jpg") no-repeat center / cover;
}

.activite-2-grande-carte {
    background: url("../images/activites/parc-national.jpg") no-repeat center / cover;
 }

.grande-carte-description {
    position: absolute;
    top: 135px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 0px 8px #d8d8d8;
    padding: 0 19px;
}

/* Moyenne carte */

.conteneur-moyenne-carte {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moyenne-carte {
    width: 100%;
    max-width: 334px;
    height: 190px;
    position: relative;
    border-radius: 14px;
    transition: ease;
    cursor: pointer; 
    margin-bottom: 22px;
}

.moyenne-carte:hover {
    box-shadow: 2px 2px 6px #797979;
    transform: scale(1.02);
    opacity: 0.9;
}

.activite-1-moyenne-carte {
   background: url("../images/activites/fort-de-pomegues.jpg") no-repeat center / cover;
}

.activite-2-moyenne-carte {
    background: url("../images/activites/Notre-dame.jpg") no-repeat center / cover;
 }

.description-moyenne-carte {
    position: absolute;
    top: 135px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 0px 8px #d8d8d8;
    padding: 0 19px;
}

/* petite carte */

.conteneur-petite-carte {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petite-carte {
    width: 100%;
    max-width: 334px;
    height: 190px;
    position: relative;
    border-radius: 14px;
    transition: ease;
    cursor: pointer; 
    margin-bottom: 22px;
}

.petite-carte:hover {
    box-shadow: 2px 2px 6px #797979;
    transform: scale(1.02);
    opacity: 0.9;
}

.activite-1-petite-carte {
   background: url("../images/activites/iles-du-frioul.jpg") no-repeat center / cover;
}

.activite-2-petite-carte {
    background: url("../images/activites/parc-longchamp.jpg") no-repeat center / cover;
 }

.description-petite-carte {
    position: absolute;
    top: 135px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 0px 8px #d8d8d8;
    padding: 0 19px;
}

/* pied de page --> footer */

.conteneur-navigation-footer {
    background-color: #f2f2f2;
    padding: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-footer {
    width: 100%;
    max-width: 332px;
}

.navigation-footer ul {
    list-style: none;
    padding-left: 0;

}

.navigation-footer li {
    margin-top: 19px;
}


.navigation-footer a {
   color: #3c3c3c;
}


/* Media queries --> support tablette*/ 

@media only screen and (min-width: 719px) {

    .logo-entete {
        width: initial;
    }

    /* Lien inscription mobile cacher*/

    #lien-inscription-mobile {
        display: none;
    }

   /* Lien inscription desktop visible */

   #lien-inscription  {
       display: block;
   }

   /* Menu de navigation */

    nav {
        width: initial;
    }

    .menu-navigation {
        margin: 0;
        height: 106px;
    }

    .menu-navigation li {
        margin-right: 66px;
        width: initial;
    }

    .menu-navigation a {
        display: inline-block;
        padding: 40px 20px 0 20px !important;
    }

    .menu-navigation a:hover {
        border-top: 2px solid #0065fc;        
    }

    #lien-hebergement a, #lien-activite a {
        width: initial;
        padding: initial;
        border-bottom: none;
    }

    #lien-hebergement  a{
        color: #000;
    }

    #lien-hebergement a:hover, #lien-activite a:hover { 
        color: #0065fc;
        transition: .3s;
    }

    /* Section carte populaire */

    .titre-populaire {
        margin-bottom: 24px;
    }

    .conteneur-cartes-populaires {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carte-populaire {
        margin-right: 17px;
    }

    /* Section carte hébergement */

    .conteneur-cartes-hebergements {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .conteneur-hebergements > p {
       margin-right: initial;
    }

    .titre-hebergement {
        margin-bottom: 24px;
    }

    .carte-hebergement {
        overflow: initial;
        margin-right: 17px;
        margin-top: 21px;
    }

    /* Section activité */

    .titre-activite {
        margin-left: initial;
        margin-right: initial;
        margin-bottom: 24px;
    }

    .conteneur-cartes-activites {
        flex-wrap: wrap;
        flex-direction: initial;
    } 

    .grande-carte {
        height: 446px;
        margin-bottom: 43px;
    }

    /* Position description */

    .grande-carte-description {
        top: 390px;
    }

    /* Moyenne carte */
    
    .conteneur-moyenne-carte {
        margin: 0 42px;
        width: initial;
    }

    .moyenne-carte {
        height: 237px;
        width: 302px;
        margin-bottom: 45px;
    }

    /* Position description */

    .description-moyenne-carte {
        top: 181px;
    }

    /* Footer */

    .conteneur-navigation-footer {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .navigation-footer {
        padding: 26px;
    }
}


/*  Media queries --> support desktop */ 

@media only screen and (min-width:1300px) {

    /* Entête de la page --> header*/

    .entete {
        padding: 1px 45px;
    }
 
    .logo-entete {
        padding: initial;
    }

    /* Button barre de recherche */

    .button-recherche {
        width: 134px;
        border-radius: 0 13px 13px 0;
    }

    #recherche-mobile {
        display: none;
    }

    #recherche-desktop {
        display: block;
    } 

    /* menu de navigation */

    #lien-hebergement, #lien-activite {
        order: -1;
    }

    #lien-hebergement a, #lien-activite a {
        width: initial;
        padding: initial;
        border-bottom: none;
    } 

    /* Corps principal --> main */

    main {
        width: 95%;
        margin: auto;
    }

   /*Filtres */

   .conteneur-filtres {
       display: flex;
       align-items: center;
       margin-top: 23px;
   }

   .filtres {
       margin-left: 32px;
   }

   .button-filtre {
       margin-right: 24px;
   }

   .button-recherche {
       font-size: inherit;
   }

    /*Section hébergement */

    #hebergements {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        /* margin-left: 50px; */
    }

    .conteneur-hebergements > p {
        text-align: initial;
    }

    .conteneur-hebergements {
        background-color: #f2f2f2;
        border-radius: 15px;
        max-width: 880px;
        padding: 47px 40px;
    }

    .titre-hebergement {
        justify-content: initial;
        margin-right: initial;
        margin-bottom: 10px;
    }

    .conteneur-cartes-hebergements {
        justify-content: initial;
    }

    .carte-hebergement {
        max-width: 246px;
    }

    /* Section populaire */

    .conteneur-populaires {
        border-radius: 15px;
        max-width: 420px;
        padding: 46px 37px;
        margin-left: 40px;
    }
    
    .conteneur-cartes-populaires {
        flex-direction: column;
        max-width: 420px;
    }

    .carte-populaire {
        width: 343px;
    }

    /*  Section activité */

    .titre-activite {
        justify-content: flex-start;
        margin-left: initial;
    }

    .conteneur-cartes-activites {
        flex-wrap: nowrap;
        justify-content: initial;
        padding: initial;
    }

    /* footer */

    .conteneur-navigation-footer {
        justify-content: initial;
    }
}