/* 
Les bordures et les marges intérieurs sont inclus 
dans la largeur des éléments 

*/

* {
    box-sizing: border-box;
}

/* Body */

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}


h2 {
    font-size: 21px;
}
/* Lien */

a {
    text-decoration: none;
}

/* Gras */

.gras {
    font-weight: 800;
}

/* Avis --> étoile */

.etoile-bleu {
    color: #0065fc;
}

.etoile-gris {
    color:#d9d9d9;
}

/* Entete  */

.entete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Logo entête */

.logo-entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/*  Menu de navigation   */

nav {
    width: 100%;
}

.menu-navigation {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu-navigation li {
    text-align: center;
    width: 50%;
}

.menu-navigation a {
    color: inherit;
}

/* Lien mobile */

#lien-inscription-mobile {
    color: #0065fc;
    font-weight: 700;
} 

#lien-inscription  {
    color: #0065fc;
    font-weight: 700;
}

/* Lien inscription desktop cacher */

#lien-inscription {
    display: none;
}

#lien-hebergement a {
    display: inline-block;
    padding:  0 35px 20px 35px;
    border-bottom: 3px solid #0065fc ;
    width: 100%;
    color: #0065fc;
}

#lien-activite a {
    display: inline-block;
    padding:  0 35px 20px 35px;
    border-bottom: 3px solid #f2f2f2 ;
    width: 100%;
}

/* Contenu principal --> main */

main {
    padding: 0 10px;
}

/*  Barre de recherche */

.trouver-hebergement + p {
    margin-bottom: 36px;
}

form {
    display: flex;
}

/* Icone localisation barre de recherche */

.icone-localisation {
    background-color: #f2f2f2;
    height: 51px;
    width: 52px ; /*13%*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 13px 0px 0px 13px;
}

/* Zone de saisie */

.zone-recherche {
    max-width: 66%; 
    height: 51px;
    border: 1px solid #f2f2f2;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.zone-recherche::placeholder {
    color: #000;
}

/*  Button de recherche desktop cacher */

#recherche-desktop {
    display: none;
}

.button-recherche {
    width: 51px;
    height: 53px;
    border-radius: 13px;
    border: 1px solid #f2f2f2;
    background-color: #0065fc;
    color: #fff;
    margin-left: -20px;
    margin-top: -1px
}

/* Filtres */

.filtres {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Button filtre */

.button-filtre {
    display: flex;
    border: 2px solid #dddddd;
    border-radius: 46px;
    margin-right: 7px;
    margin-top: 10px;
}

.button-filtre:hover {
    border-color: rgb(202, 202, 202);
    background-color: #F2F2F2;
}

.icone-button {
    background-color: #deebff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 51px;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 13px;
    margin-right: 12px;
    text-align: center;
    color: #0065fc;
    font-size: 17px;
}

.button-filtre > p {
    margin-right: 16px;
}

/* Infos-logement */

.infos-logements {
    display: flex;
    align-items: center;
}

.icone-infos {
    border:  1px solid #d9d9d9;
    padding: 6px 12px;
    border-radius: 15px;
    color: #0065fc;
    font-size: 14px;
    margin-right: 12px;
}

/* Hebergements */

#hebergements {
    margin-top: 39px;
}

/* Section populaires */

.conteneur-populaires {
    background-color: #f2f2f2;
    padding:  20px;
}

.titre-populaire {
    display: flex;
    align-items: center;
}

.icone-titre-populaire {
    margin-left: 104px;
}

/* Cartes  Populaires */

.carte-populaire {
    background-color:  #fff;
    max-width: 334px;     
    height: 144px;
    border-radius: 17px;
    padding: 5px;
    box-shadow: 2px 2px 6px #b8b8b8;
    transition: ease;
    cursor: pointer;
    display: flex;
    margin-bottom: 11px;
}

/* Effet au survol carte populaire */

.carte-populaire:hover {
    box-shadow: 2px 2px 6px #797979;
    transform: scale(1.03);
}

/* paramètre carte populaire */

.image-carte-populaire {
    width: 127px;
    height: 134px;
    border-radius: 13px 0 0px 13px;
}

/* Cartes  Populaires*/

.carte-populaire-1 {
    background: url(../images/hebergements/hotel-le-soleil.jpg) no-repeat center / cover;
}

.carte-populaire-2 {
    background: url(../images/hebergements/chambres-hotes.jpg) no-repeat center / cover;
}

.carte-populaire-3 {
    background: url(../images/hebergements/hotel-tout-bleu-blanc.jpg) no-repeat center / cover;
}

/* Description */

.description-carte-populaire {
    overflow:auto;
    margin-left: 5px;
}

.description-carte-populaire h3 {
    /* font-size: 16px; */
    margin-top: 8px;
    margin-bottom: 9px;
}


.description-carte-populaire p {
    margin-top: 0;
}

.avis {
    font-size: 16px;
}


