/* 
Les bordures et les marges intérieurs sont inclus 
dans la largeur des éléments 

*/

* {
    box-sizing: border-box;
}

/* Body */

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

/* Lien */

a {
    text-decoration: none;
}

/* Entete  */

.entete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Logo entête */

.logo-entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/*  Menu de navigation   */

nav {
    width: 100%;
}

.menu-navigation {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu-navigation li {
    text-align: center;
    width: 50%;
}

.menu-navigation a {
    color: inherit;
}

/* Lien mobile */

#lien-inscription-mobile {
    color: #0065fc;
    font-weight: 700;
} 

#lien-inscription  {
    color: #0065fc;
    font-weight: 700;
}

/* Lien inscription desktop cacher */

#lien-inscription {
    display: none;
}

#lien-hebergement a {
    display: inline-block;
    padding:  0 35px 20px 35px;
    border-bottom: 3px solid #0065fc ;
    width: 100%;
    color: #0065fc;
}

#lien-activite a {
    display: inline-block;
    padding:  0 35px 20px 35px;
    border-bottom: 3px solid #f2f2f2 ;
    width: 100%;
}

/* Contenu principal --> main */

/* 
main {
    padding: 0 20px;
} */

/*  Barre de recherche */

.trouver-hebergement p {
    margin-bottom: 36px;
}

form {
    display: flex;
}

/* Icone localisation barre de recherche */

.icone-localisation {
    background-color: #f2f2f2;
    height: 51px;
    width: 52px ; /*13%*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 13px 0px 0px 13px;
}

/* Zone de saisie */

.zone-recherche {
    max-width: 66%; 
    height: 51px;
    border: 1px solid #f2f2f2;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.zone-recherche::placeholder {
    color: #000;
}

/*  Button de recherche desktop cacher */

#recherche-desktop {
    display: none;
}

.button-recherche {
    width: 51px;
    height: 53px;
    border-radius: 13px;
    border: 1px solid #f2f2f2;
    background-color: #0065fc;
    color: #fff;
    margin-left: -20px;
    margin-top: -1px
}

